---
// BUDDHA TEXT SVG
---

<svg height="auto" width="auto" xmlns="http://www.w3.org/2000/svg" role="img">
    <title>Phật</title>
    <text x="5" y="30" fill="yellow" stroke="#c4a604" font-size="25">Phật</text>
    Sorry, your browser does not support inline SVG.
</svg>
