---
---

<h2>Tiểu sử Hòa thượng Thích Duy Lực</h2>

<p>
  Hòa thượng - Thiền sư Thích Duy Lực đã có đóng góp to lớn trong việc hoằng truyền Tổ Sư Thiền tại Việt Nam. Sư xuất gia năm 1973.
  Thọ giới Tỳ Kheo tại Malaysia, tu học với Sư Hoằng Tu tại chùa Từ Ân và được sư phụ giao nhiệm vụ ra hoằng pháp từ ngày 2-4-1977.
  Từ đó, cho tới ngày viên tịch, Sư Duy Lực một mặt tự tu tập tham thiền, một mặt truyền bá pháp môn Tổ Sư Thiền cho các đạo hữu tại Việt Nam.
</p>
<p>
  Năm 1989, Sư được đệ tử bảo lãnh sang Mỹ, từ đó mở rộng thêm việc hoằng truyền tại Mỹ, Canada.
  Một số chùa tại Úc, Đài Loan và Pháp cũng có mời thầy sang thuyết pháp.
</p>
<p>
  Song, địa bàn hoằng pháp chủ yếu của Sư là tại Mỹ và Việt Nam, Sư đi đi, lại lại giữa hai nơi này, tổ chức thiền thất và giải đáp thắc mắc.
  Sư đã biên dịch nhiều kinh điển Phật giáo từ Hán ngữ ra Việt ngữ với sự giúp sức của một số đệ tử thân cận.
  Ngoài ra, Sư cũng có trứ tác một vài quyển sách nhằm hiển thị thêm nghĩa lý của kinh điển như Từ Điển Phật Học, Vũ Trụ Quan Thế Kỷ 21...
  Sư đã giải đáp hàng nghìn câu hỏi về Phật pháp của các Phật tử.
</p>
<p>
  Sư họ LA húy DŨ hiệu DUY LỰC, tự GIÁC KHAI, sanh ngày 05 tháng 05 năm 1923 tại làng Long Tuyền, huyện Bình Thủy tỉnh Cần Thơ, Việt Nam.
</p>
<p>
  Năm lên 7 tuổi, theo cha về quê sống tại làng Long Yên, huyện Phong Thuận phủ Triều Châu tỉnh Quảng Đông Trung Quốc.
  Sau khi tốt nghiệp phổ thông cấp 1, Sư phải nghỉ học theo cha trở lại Việt Nam sinh sống, lúc đó Sư được 16 tuổi (1938), trú tại tỉnh Cần Thơ.
</p>
<p>
  Sư thường tranh thủ tự học trong lúc rỗi rãnh.
  Đến năm 26 tuổi (1948), Sư thi đậu bằng giáo viên Hoa văn.
  Sư từng cộng tác biên soạn cho tờ báo Viễn Đông tiếng Hoa tại Chợ Lớn và được mời dạy ở các trường tiểu học tỉnh Tà-Keo Cao Miên (Nay là Campuchia), trường Khải Trí ở Cần Thơ, trường Cái Vồn ở Vĩnh Long trong thời gian 10 năm.
</p>
<p>
  Năm 1958, sau khi thi lấy bằng Đông y sĩ cấp 1, Sư được mời làm đông y sĩ cho tiệm thuốc Tế Ngươn Đường Cà mau, Minh Nguyệt Cư Sĩ Lâm tỉnh Cần Thơ để khám bệnh miễn phí cho dân trong thời gian 8 năm.
</p>
<p>
  Trong tủ sách của Cư Sĩ Lâm có bộ Kinh Tục Tạng gồm 150 quyển, lúc đầu Sư định đọc hết toàn bộ, nhưng trải qua một năm chỉ xem được 7 quyển.
  Sau, Sư quyết định chỉ xem phần Thiền tông.
</p>
<p>
  Lúc đó, Sư theo Pháp sư DIỆU DUYÊN (Ngài Diệu Duyên đã nhiều năm thân cận Lai Quả Thiền Sư và Hư Vân Thiền Sư.
  Ngài tịch vào năm 1976 tại <a href="/pagodas/thien-tu-Thao-Duong-Q6" target="_blank"> Chùa Thảo Đường </a>) tham học Tổ Sư Thiền.
</p>