---
import Layout from '../layouts/Layout.astro';
import BookList from '../components/book/BookList.astro';
import BookLibrary from '../components/book/BookLibrary.astro';
import BookClub from '../components/book/BookClub.astro';
import BookCollection from '../components/book/BookCollection.astro';

const title = '';
const description = ``;
---

<Layout title={title} description={description}>
  <div class="about-page">
    <header class="page-header">
      <h1 class="page-title">{title}</h1>
      <hr class="page-rule" />
    </header>

    <div class="content-section">
      <BookList />
      <hr class="page-rule" />

      <BookLibrary />
      <hr class="page-rule" />

      <BookCollection />
      <hr class="page-rule" />

      <BookClub />
    </div>
  </div>
</Layout>
