.binh-xuong {
    display: none;
    margin-top: 1.5rem;
    padding: 1rem;
    border-left: 4px solid #10b981;
    background-color: #ecfdf5;
}

@media (prefers-color-scheme: dark) {
    .binh-xuong {
        background-color: #0f172a;
        border-left-color: #047857;
    }
}