---
import RetreatSlider from '@/components/ui/RetreatSlider.astro';
import {
  upcomingEvents,
} from '@/data/events/upcoming-events';

const nextSomeDaySpecialEvents = upcomingEvents;
---

<div class="sidebar-content">
  <!-- Upcoming events - next some days -->
  {nextSomeDaySpecialEvents?.length > 0 && (
      <section class="recent-events">
        <h3 class="section-title">Event VÀI NGÀY sắp tới</h3>
        <ul class="event-list">
          {nextSomeDaySpecialEvents?.map(event => (
              <li>
                <strong>{event.title}</strong>
                <div class="note">{event.note}</div>
              </li>
          ))}
        </ul>
      </section>
  )}

  <!-- Upcoming events - next week/month/year -->
  <RetreatSlider />
</div>
