---
import { configNew as config } from "../../config";

const { collection } = Astro.props;
const base = import.meta.env.BASE_URL;
const categoryName = config.categoryNames[collection as keyof typeof config.categoryNames] || collection;
---

<div class="post-navigation">
    <a href={`${base}${collection}`} class="back-to-blog">
        ← Xem Tất cả {categoryName}
    </a>
</div>
