---
import "@/styles/badge/badgeList.css";
import { cleanSlug } from "../../utils/helper";

const { frontmatter, showLabel = true, floatRight = false } = Astro.props;
const base = import.meta.env.BASE_URL;
---

<div>
    {frontmatter.categories && frontmatter.categories.length > 0 && (
            <div class="post-badges">
                <div class="badge-list" style={ floatRight ? 'float: right' : ''}>
                    {
                        showLabel ? <span class="badges-label" title="Category">📦</span> : ''
                    }

                    {
                        frontmatter.categories.map((category: string) => <a href={`${base}categories/${cleanSlug(cat)}`}>
                                    <span class="badge badge-label badge-category">{category}</span>
                                </a>
                        )
                    }
                </div>
            </div>
    )}
</div>
