---
type CommonProps = {
  class?: string;
  color?: "primary" | "primary-alt";
  size?: "sm" | "md";
  arrow?: boolean;
  title: string;
  revealable?: boolean;
  manualReveal?: boolean;
};

type AnchorProps = {
  url: string;
  target?: string;
  type?: never;
} & CommonProps;

type ButtonProps = {
  url?: never;
  target?: never;
  type?: "button" | "submit" | "reset";
} & CommonProps;

type Props = AnchorProps | ButtonProps;

const {
  title,
  url,
  target,
  class: className = "",
  size = "md",
  type = "button",
  color = "primary",
  arrow = false,
  revealable = true,
  manualReveal = false,
} = Astro.props;

const Element = url ? "a" : "button";

const attrs =
  Element === "a"
    ? {
        target,
        href: url,
      }
    : {
        type,
      };
---

<Element
  class:list={[
    "u-text btn",
    `btn-${size}`,
    `btn-${color}`,
    arrow && `btn-arrow`,
    className.toString(),
  ]}
  {...attrs}
  data-sy-reveal={revealable ? "" : undefined}
  data-sy-reveal-manual={manualReveal ? "" : undefined}
>
  <span>
    <span>{title}</span>
    <span aria-hidden>{title}</span>
  </span>
</Element>

<style>
  .btn {
    --fs: var(--font-size-xs);
    --fw: 600;
    --text-color: var(--btn-txt-color, var(--color-white));
    --bg-color: var(--btn-bg-color, var(--color-brand-1));
    --hover-bg-color: var(--btn-hover-bg-color, var(--color-white));
    --hover-text-color: var(--btn-hover-text-color, var(--color-brand-1));

    cursor: pointer;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    letter-spacing: 0.02em;
    display: inline-block;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    border-radius: 100px;

    &[data-sy-reveal] {
      clip-path: inset(0 100% 0 0 round 100px);
      transition: 0.4s var(--ease-out-cubic);
      transform: translateX(2rem);
      transform-origin: left;
      transition-property: opacity, clip-path, transform;

      &.is-in {
        clip-path: inset(0 0% round 100px);
        transform: translateX(0);
      }
    }

    > span {
      display: block;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 99px;
        border: 2px solid var(--bg-color);
        z-index: 2;
      }

      > span {
        color: var(--text-color);
        position: relative;
        display: flex;
        align-items: center;
        padding: 0.9375em 1.5em;
        line-height: 1.25;
        background: var(--bg-color);

        &:first-child {
          transition: clip-path 0.25s var(--ease-out-cubic);
          color: var(--hover-text-color);
          background: var(--hover-bg-color);
          z-index: 2;
          position: absolute;
          clip-path: inset(50% round 99px);
        }
      }
    }

    &:global(.btn-primary-alt) {
      --text-color: var(--btn-txt-color, var(--color-text));
      --bg-color: var(--btn-bg-color, var(--color-brand-3));
    }

    &:hover,
    &:focus {
      > span {
        > span:first-child {
          clip-path: inset(-100% 0 round 99px);
        }
      }
    }

    &:global(.btn-arrow) {
      > span {
        > span {
          padding-right: 1em;

          &::after {
            content: "";
            display: block;
            width: 2em;
            height: 2em;
            margin-left: 1em;
            background: var(--bg-color);
            mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 21'%3E%3Cpath d='m16 9-6-6 2-1 8 8-1 1-7 7-2-1 6-6H0V9z'/%3E%3C/svg%3E")
              no-repeat center / 1em 1em;
          }

          &:first-child {
            clip-path: inset(0.95em 1em 0.95em calc(100% - 3em) round 99px);
          }
        }
      }

      &:hover,
      &:focus {
        > span {
          > span:first-child {
            clip-path: inset(-25% -5% -25% 0% round 99px);
          }
        }
      }
    }
  }
</style>
