---
import type { Link, Image } from "../types";
import Button from "./Button.astro";
import Gallery from "./Gallery.astro";
import GradientBackground from "./GradientBackground.astro";
import TextMarquee from "../components/TextMarquee.astro";

interface Props {
  images: Image[];
  title: string;
  text?: string;
  cta?: Link;
  marqueeTexts: string[];
}

const { title, text, cta, images, marqueeTexts } = Astro.props;
---

<div class="sy-gallery-text">
  <div class="u-container container">
    <div class="content">
      <h2 class="u-heading title" data-sy-reveal="words">{title}</h2>
      <p class="u-text text" data-sy-reveal="lines">{text}</p>
      {cta ? <Button {...cta} arrow class="cta" /> : null}
    </div>
    <Gallery class="gallery" images={images} />
  </div>
  <TextMarquee class="marquee" texts={marqueeTexts} direction={-1} />
  <GradientBackground />
</div>

<style>
  .sy-gallery-text {
    margin: 8rem 0 0;
    padding: 10rem 0 0;
    position: relative;
  }

  .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
    position: relative;
    z-index: 9;
    padding: 2rem;
    border-radius: 1.5rem;
    backdrop-filter: blur(6px) saturate(1.05);

    @media (--mq-tablet) {
      gap: 2rem;
    }

    @media (--mq-tablet-sm) {
      flex-direction: column-reverse;
    }

    @media (--mq-phone) {
      padding: 1rem 0;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0;
    flex: 1;
  }

  .title {
    --fs: 2rem;
    --fw: 600;
    --lh: 1;
    max-width: 10em;
    margin-bottom: 1rem;
  }

  .text {
    max-width: 25em;
  }

  .cta {
    margin-top: 1.5rem;
  }

  .gallery {
    max-width: 32rem;
    min-height: 22rem;

    @media (--mq-desktop-sm) {
      max-width: 27rem;
    }

    @media (--mq-tablet) {
      max-width: 25rem;
    }
  }

  .marquee {
    z-index: 9;
    padding: 2rem 0;
    margin: 6rem 0 0;
    --c: var(--color-white);
  }
</style>
