---
import Button from "../components/Button.astro";
import type { Link } from "../types";

interface Props {
  title: string;
  text: string;
  cta?: Link;
}

const { title, text, cta } = Astro.props;
---

<div class="sy-introducing">
  <div class="u-container container">
    <div class="inner">
      <h2 class="u-heading title" data-sy-reveal="words">{title}</h2>
      <p class="u-text" data-sy-reveal="lines">
        {text}
      </p>
      {cta ? <Button {...cta} arrow class="cta" /> : null}
      <div data-gl-place></div>
    </div>
  </div>
</div>

<style>
  .container {
    margin-bottom: 8rem;
    position: relative;
  }

  .inner {
    position: relative;
    z-index: 9;
    max-width: 50rem;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1.5rem;
    backdrop-filter: blur(6px) saturate(1.05);
  }

  h2 {
    --fs: 3rem;
    --lh: 1.1;
    max-width: 20em;
  }

  p {
    max-width: 40em;
  }

  [data-gl-place] {
    --d: 0.1;
    --s: 18rem;
    position: absolute;
    right: 0%;
    top: 0;
    margin-top: -2rem;

    @media (--mq-tablet-sm) {
      transform: translateX(-10%);
      left: 0;
    }
  }
</style>
