---
import type { Image } from "../types";

interface Props {
  title: string;
  items: {
    image: Image;
    title: string;
    text: string;
  }[];
}

const { title, items } = Astro.props;
---

<sy-steps-timeline>
  <div class="u-container container">
    <div class="wrapper">
      <div class="content">
        <h2 class="u-heading title" data-sy-reveal="words">{title}</h2>
      </div>
      <div class="items-wrapper">
        <div class="items">
          {
            items.map((item, i) => (
              <div class:list={["item", i === 0 && "is-active"]}>
                <div class="item-inner">
                  <h3 class="u-heading item-title" data-sy-reveal="words">
                    {item.title}
                  </h3>
                  <p class="u-text item-text" data-sy-reveal="lines">
                    {item.text}
                  </p>
                </div>
                <div class="item-img">
                  <img {...item.image} />
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
    <div data-gl-place="0"></div>
    <div data-gl-place="1" data-gl-place-factor="2"></div>
  </div>
</sy-steps-timeline>

<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  class StepsTimeline extends HTMLElement {
    connectedCallback() {
      const itemsWrapper = this.querySelector(".items-wrapper");
      const wrapper = this.querySelector(".wrapper");
      const items = Array.from(this.querySelectorAll<HTMLElement>(".item"));
      let current = 0;

      new ScrollTrigger({
        trigger: itemsWrapper,
        pin: wrapper,
        start: "center center",
        end: "+=130%",
        invalidateOnRefresh: true,
        onUpdate: (st) => {
          const index = Math.round(st.progress * (items.length - 1));
          if (index !== current) {
            items[current].classList.remove("is-active");
            items[index].classList.add("is-active");
            current = index;
          }
        },
      });
    }
  }

  customElements.define("sy-steps-timeline", StepsTimeline);
</script>

<style>
  [data-gl-place] {
    --d: 1;
    --s: 18rem;
    position: absolute;
    right: 10%;
  }

  [data-gl-place="0"] {
    top: 50%;
  }

  [data-gl-place="1"] {
    top: 100%;
  }

  sy-steps-timeline {
    display: block;
    position: relative;
    margin: 7rem 0;
    z-index: 9;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .content {
    position: relative;

    @media (--mq-tablet) {
      display: contents;
    }
  }

  .title {
    --fs: 3rem;
    --lh: 1;
    max-width: 10em;
    margin-bottom: 1em;
  }

  .items-wrapper {
    display: flex;
    width: 100%;
    padding-left: 4rem;
    position: relative;

    @media (--mq-desktop-sm) {
      max-width: 34rem;
    }

    @media (--mq-desktop-xs) {
      max-width: 30rem;
    }

    @media (--mq-tablet) {
      max-width: 36rem;
      align-self: center;
    }

    &::before {
      content: "";
      display: block;
      min-height: 100%;
      min-width: 2px;
      margin-right: 3rem;
      background: var(--color-brand-3);

      @media (--mq-tablet-sm) {
        margin-right: 2.5rem;
      }
    }
  }

  .items {
    display: flex;
    flex-direction: column;
    max-width: 33rem;
    width: 100%;
    counter-reset: items;
    max-width: 24rem;
  }

  .item-inner {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem 1rem;

    &::before {
      @extend %u-text;
      --fs: 1.2rem;
      --fw: 500;
      display: flex;
      align-items: center;
      counter-increment: items;
      content: counter(items, decimal-leading-zero);
      position: absolute;
      right: calc(100% + 3rem + 4rem);
      transform: translateX(100%);
      text-align: center;
      top: 0;
      bottom: 0;
      margin: auto;
      transition: color 0.2s var(--ease-in-out-cubic);
      border-right: 2px solid transparent;
      padding-right: calc(4rem - 2px);
      width: 0;
      opacity: 0.5;

      @media (--mq-tablet-sm) {
        font-size: 2.5rem;
        right: calc(100% + 2.125rem);
      }
    }

    :global(.item.is-active &) {
      &::before {
        opacity: 1;
        border-right-color: var(--color-brand-1);
      }
    }
  }

  .item-title {
    --fs: 1.2rem;
    --fw: 500;
  }

  .item-text {
    --fs: var(--font-size-xs);
  }

  .item-img {
    width: calc(100% - 24rem - 10rem);
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;

    :global(.item.is-active &) {
      opacity: 1;
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: translateX(var(--ix));
      opacity: 0;
      will-change: transform;
    }
  }
</style>
