---
import Section from "@/components/Section.astro";
import LegalIcon from "@/components/icons/Legal.astro";
import Record from "@/components/Record.astro";

export type LegalField = {
	order: number;
	id: string;
	title?: string | undefined;
	value?: string | undefined;
};

export interface Props {
	title?: string | undefined;
	records?: LegalField[];
}

const { title = "Legal", records = [] } = Astro.props as Props;
---

<Section title={title}>
	<LegalIcon slot="icon" title={title} class="size-8 md:size-10 -mt-1" />
	{
		records.length > 0 && (
			<div class="flex flex-col flex-nowrap gap-4">
				{records.map((item: LegalField) => (
					<Record title={item.title} value={item.value} />
				))}
			</div>
		)
	}
</Section>
